[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-colored-man-pages"]
	path = plugins/zsh-colored-man-pages
	url = git@github.com:ael-code/zsh-colored-man-pages.git
[submodule "plugins/zsh-poetry"]
	path = plugins/zsh-poetry
	url = git@github.com:darvid/zsh-poetry.git
[submodule "plugins/zsh-vi-mode"]
	path = /Users/albert/.config/dotfiles/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
